<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>2.1</string>
	<string>2.2</string>
	<string>2.3</string>
	<string>2.4</string>
	<string>2.5</string>
	<string>2.6</string>
	<string>2.7</string>
	<string>2.8</string>
	<string>2.9</string>
	<string>2.10</string>
	<string>2.11</string>
	<string>2.12</string>
	<string>2.13</string>
	<string>2.14</string>
	<string>2.15</string>
	<string>2.16</string>
	<string>2.17</string>
	<string>2.18</string>
	<string>2.19</string>
	<string>2.20</string>
	<string>2.21</string>
	<string>2.22</string>
	<string>2.23</string>
	<string>2.24</string>
	<string>2.25</string>
	<string>2.26</string>
	<string>2.27</string>
	<string>2.28</string>
	<string>2.29</string>
	<string>2.30</string>
	<string>2.31</string>
	<string>2.32</string>
	<string>2.33</string>
	<string>2.34</string>
	<string>2.35</string>
	<string>2.36</string>
	<string>2.37</string>
	<string>2.38</string>
	<string>2.39</string>
	<string>2.40</string>
	<string>2.41</string>
	<string>2.42</string>
	<string>2.43</string>
	<string>2.44</string>
	<string>2.45</string>
	<string>2.46</string>
	<string>2.47</string>
	<string>2.48</string>
	<string>2.49</string>
</array>
</plist>
